/*  ----- Estilos para páginas web "Minha primeira página" ---------- */
/*  ----- Escrito por Gabriela Chaves - www.gabrielachaves.com.br --- */

/*  ---------- Cores: ---------- */
/*  Verde-água acinzentado: #C7D3D4FF */
/*  Roxo escuro: #603F83FF */
/*  Roxo: #7850A8 */
/*  Lavanda: #AE98D7 */
/*  Cinza claro: #BABABA */
/*  Cinza: #838383 */

/*  ---------- Resets ---------- */

/*  ---------- Elementos base ---------- */
body {
	font-size: 14px;
	color: #FFF;
	background-color: #C7D3D4FF;
	font-family: 'Crimson Text', serif;
}
/*
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Crimson Text', serif;
*/

/*  ---------- Classes e entidades ---------- */
#nav-bar-fundo {
	background-color: #603F83FF;
	border-radius: 0;
	border: 0;
}
#logo-img-pq, #logo-img-gr {
	width: 367px;
	height: 79px;
	margin: 0;
}
#logo-img-pq {
	background: url(https://raw.githubusercontent.com/gabrielamtchaves/coursera-test/master/site/logo-iniciais.png) no-repeat;
}
#logo-img-gr {
	background: url(https://raw.githubusercontent.com/gabrielamtchaves/coursera-test/master/site/logo.png) no-repeat;
}
.navbar-brand h1 { /* Nome - Futuramente o logo será menor e o Gabriela Chaves será digitado */
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  font-size: 20px;
  /* Adicione algumas firulas!! */
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}